@charset "UTF-8";

@use "../../../global" as g;

.mainvisual {
  background-image: url(g.$img-dir + "mainvisual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(12, 12, 12, 0.6);
  background-blend-mode: darken;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    animation: slideUp 5s ease-out 1s;
    color: #fff;
    text-align: center;
    @include g.mq('tab') {
      animation: none;
    }
  }
  &__heading {
    font-family: 'Shippori Mincho', serif;
    font-weight: normal;
    font-size: 6.3rem;
    letter-spacing: 0.1em;
    margin-bottom: 4.5rem;
    @include g.mq('tab') {
      font-size: calc(3.2rem + (1vw - 0.77rem) * 7.5243);
    }
    @include g.mq('sp') {
      font-size: 3.2rem;
      margin-bottom: 2rem;
    }
    br {
      display: none;
      @include g.mq('sp') {
        display: block;
      }
    }
  }
  &__btn {
    @include g.btn;
    display: inline-block;
    max-width: 300px;
    width: 100%;
    letter-spacing: 0.2em;
    @include g.mq('sp') {
      max-width: 250px;
    }
  }
}

//.mainvisual__heading animation slide to up
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

